/* *********** CSS VARIABLES ************* */
:root {
    --primary-background: #272838;
    --primary-font: #F5F5F5;
    --primary-accent: #C9D5E4;
    --hover-primary-accent: #F5F5F5;
    --alternate-background: #5B4E6A;
    --header-footer-background: #272838;
}

/* *********** RESET ************* */
html {
    font-size: 16px;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

/* *********** PAGE LEVEL STYLES ************* */
main {
    min-height: 75vh;
}

body {
    min-width: 300px;
    font-family: 'Poppins', sans-serif;
    color: var(--primary-font);
    background: linear-gradient(
        to right,
        var(--primary-background),
        var(--alternate-background)
    );
}

/* *********** HEADER AND FOOTER ************* */
.navbar {
    background-color: var(--header-footer-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar-brand {
    font-size: 3rem;
    font-weight: 790;
    background: linear-gradient(90deg,#00dbde,#fc00ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-nav {
    list-style-type: none;
    display: flex;
    font-size: 20px;
    font-weight: 700;
}

.nav-item {
    margin: 1.5rem;
}

.nav-link {
    color: var(--primary-accent);
    text-decoration: none;
}

.nav-link:hover {
    color: var(--hover-primary-accent);
}

.navbar-toggler {
    background-color: #5B4E6A;
}

.page-footer {
    color: var(--primary-accent);
    background-color: var(--header-footer-background);
}

.page-footer {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    bottom: 0;
    left: 0;
    right: 0;
}

.full-screen {

}

.index-page-footer {

}

.footer-links-container {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.footer-link-item {
    margin: 0.5rem;
}

.page-menu-link {
    color: var(--primary-accent);
    text-decoration: none;
    letter-spacing: .5px;
}

.page-menu-link:hover {
    color: var(--hover-primary-accent);
}

/* *********** LOADER ************* */
.loader {
    display: none;
    height: 15rem;
    width: 15rem;
    border: 3rem solid #2b304d;
    border-radius: 50%;
    border-top-color: #13fc97;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    animation: spin 3s infinite;
}

@keyframes spin {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* *********** BACK TO TOP ************* */
.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #C9D5E4;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    transition: 0.2s ease-out;
    font-size: 2rem;
    font-weight: 700;
    color: #0d6efd;
}

.back-to-top:hover {
    background-color: transparent;
    transform: translateY(-4px);
}

.back-to-top span {
    font-size: 5rem;
}

/* *********** MAIN ************* */
main {
    margin-top: 130px; /* fixed-top navbar */
}

p {
    margin: 0.5rem 0;
}

.main-section {
    padding: 0 30px;
    line-height: 2rem;
    letter-spacing: 0.05rem;
    text-align: justify;
    margin: 50px 0;
}

/* *********** FORM ************* */
.form-title {
    margin-bottom: 1.5rem;
    font-weight: 500;
}

.giphy-img {
    margin: 10px;
    border: 4px ridge black;
}

.giphy-form {
    margin: 20px;
    margin-top: 200px;
}

@media screen and (max-width: 992px) {
    html {
        font-size: 12px;
    }
    .navbar-nav {
        font-size: 16px;
    }
}

@media screen and (max-width: 795px) {
    .navbar-nav {
        font-size: 10px;
    }
}
