/* *********** CSS VARIABLES ************* */
:root {
    --primary-background: #272838;
    --primary-font: #F5F5F5;
    --primary-accent: #C9D5E4;
    --hover-primary-accent: #F5F5F5;
    --alternate-background: #5B4E6A;
    --header-background: #272838;
}

/* *********** RESET ************* */
html {
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* *********** PAGE LEVEL STYLES ************* */
body {
    min-width: 300px;
    font-family: 'Poppins', sans-serif;
    color: var(--primary-font);
    background: linear-gradient(
        to right,
        var(--primary-background),
        var(--alternate-background)
    );
}

/* *********** HEADER ************* */
.navbar {
    background-color: var(--header-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar-brand {
    font-size: 3rem;
    font-weight: 790;
    background: linear-gradient(90deg,#00dbde,#fc00ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-nav {
    list-style-type: none;
    display: flex;
    font-size: 20px;
    font-weight: 700;
}

.nav-item {
    margin: 1.5rem;
}

.nav-link {
    color: var(--primary-accent);
    text-decoration: none;
}

.nav-link:hover {
    color: var(--hover-primary-accent);
}

/* *********** Form ************* */
.form-title {
    margin-left: 650px;
    margin-bottom: 1.5rem;
    font-weight: 500;
}

.giphy-img {
    margin: 10px;
    border: 4px ridge black;
}

.giphy-form {
    margin: 20px;
    margin-top: 200px;
}