/* *********** CSS VARIABLES ************* */
:root {
    --primary-background: #272838;
    --primary-font: #F5F5F5;
}
/* *********** RESET ************* */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* *********** PAGE LEVEL STYLES ************* */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-font);
    background-color: var(--primary-background);
}